<div class="search-block">
  <div class="row">
    <div class="col-md-3 helmet-logo">
      <div class="col-xs-12 logo-parts">
        <span class="stretch"> PARTS
        </span>

      </div>
      <div class="col-xs-12 logo-platform">
        <span class="stretch"> PLATFORM
        </span>

      </div>
    </div>
    <div class="col-md-9 input-section">
      <div class="col-md-12">
        <span> Filter by price </span>
        <span class="error-message">{{errorMessage}}</span>
      </div>
      <div class="col-md-4">

          <div class="form-group text-input">
            <input type="text" name="min" [(ngModel)]="min"  value="" placeholder="Minimum Price"
            class="form-control">
          </div>

      </div>
      <div class="col-md-4">
        <div class="form-group text-input">
          <input type="text"  name="max" [(ngModel)]="max"  placeholder="Maximum Price"
          class="form-control">
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <button type="button" name="button" class="filter-button" (click)="runFilter()">Filter</button>
        </div>

      </div>
    </div>

  </div>
</div>
