/* You can add global styles to this file, and also import other style files */

body{
  color:rbg(99, 99, 99);
}

.text-input input{
  height:40px;
}

span.stretch{
  display: inline-block;
  -webkit-transform:scale(1.9,1);
  -moz-transform:scale(1.9,1);
  -o-transform:scale(1.9,1);
  transform: scale(2.2,1);
}
